{% extends "capstone/layout.html" %} {% block title %} Register {% endblock %}
{% block body %}
<h1>Register</h1>
<hr />
{% if msg %}
<p>{{ msg }}</p>
{% endif %}
<div class="d-flex justify-content-center align-items-center">
  <form action="{% url 'register' %}" method="POST" class="form-width">
    {% csrf_token %}
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        class="form-control mb-3"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input
        type="text"
        class="form-control mb-3"
        id="username"
        name="username"
        maxlength="30"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control mb-3"
        id="passwordReg"
        name="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="confirmation" class="form-label">Confirm Password</label>
      <input
        type="password"
        class="form-control mb-3"
        id="confirmation"
        name="confirmation"
        required
      />
    </div>
    <p id="regMsg" role="alert"></p>
    <div class="d-grid gap-2">
      <input type="submit" class="btn btn-primary" value="Register" />
    </div>
  </form>
</div>

{% endblock %}
